<template>
    <div>
    <todo v-for="todo in todos" v-bind:key="todo"></todo>
    <todo v-on:delete-todo="deleteTodo" v-on:complete-todo="completeTodo" v-for="todo in todos" :key="todo"></todo>
    </div>
</template>

<script>
import todo from "@/components/todo.vue";

export default {
      props: ["todos"],
      components: {
        todo,
      },
      methods: {
        deleteTodo(todo) {
          const todoIndex = this.todos.indexOf(todo);
          this.todos.splice(todoIndex, 1);
        },
        completeTodo(todo) {
          const todoIndex = this.todos.indexOf(todo);
          this.todos[todoIndex].done = true;
        },
      },
};
</script>