<template>
  <div>
    <div id="header">
      <h1>Title</h1>
      <input type="text" v-model="todo" />
      <h1>Project</h1>
      <input type="text" v-model="project" />
    </div>
    <div id="button">
      <button v-on:click="create">Create</button>
      <button v-on:click="cancel">Cancel</button>
    </div>
    <todo-list v-bind:todos="todos"></todo-list>
    <create-todo v-on:add-todo="addTodo"></create-todo>
  </div>
</template>

<script>
import todoList from "@/components/todolist.vue";
import CreateTodo from "@/components/CreateTodo.vue";

export default {
  components: {
    todoList,
    CreateTodo,
  },
  data() {
    return {
      todos: [
        {
          title: "todo A",
          project: "Project A",
          done: false
        },
        {
          title: "todo B",
          project: "Project B",
          done: true
        },
        {
          title: "todo C",
          project: "Project C",
          done: true
        }
      ]
    };
  },
  methods: {
    addTodo(title) {
      this.todos.push({
        title,
        done: false,
      });
    },
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#header {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
  }
}
#button {
  create {
    color: red;
    font-weight: bold;
  }
  cancel {
    color: green;
    font-weight: bold;
  }
}
</style>
